{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
オンラインカウンセリングサービスへようこそ！

<!-- デバッグ用 -->
<p>インクルードの前</p>
{% include 'boards/post_comments.html' %}
<p>インクルードの後</p>

{% comment %} <p>インクルードの前</p>
{% for theme in themes %}
    <h3>{{ theme.title }}</h3>
    {% include 'boards/post_comments.html' with theme=theme comments=comments_dict|default:{}[theme.id] %}
    {% include 'boards/post_comments.html' with comments=comments_dict|default:{}[theme.id] %}
{% endfor %}
<p>インクルードの後</p> {% endcomment %}

{% comment %} <p>インクルードの前</p>
{% for theme in themes %}
    <h3>{{ theme.title }}</h3>
    {% include 'boards/post_comments.html' with comments=comments_dict|default:{}[theme.id] %}
{% endfor %}
<p>インクルードの後</p> {% endcomment %}


<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
    <a class="navbar-brand" href="{% url 'accounts:home' %}">ホーム</a>
    <a class="navbar-brand" href="{% url 'boards:list_themes' %}">チャット制作画面へ</a>
    <a class="navbar-brand" href="{% url 'boards:counselor_profile' %}">プロフィール画面へ</a>
    <a class="navbar-brand" href="{% url 'boards:counselor_list' %}">カウンセラー一覧画面へ</a>
    {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'accounts:user_logout' %}">ログアウト</a>
        <a class="navbar-brand" href="{% url 'accounts:user_edit' %}">ユーザー情報更新画面へ</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'accounts:user_login' %}">ログイン</a>
        <a class="navbar-brand" href="{% url 'accounts:regist' %}">ユーザー登録</a>
    {% endif %}
</nav>

{% endblock %}