{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}

<h2>カウンセラー一覧画面</h2>

<div class="profile-section">
    {% if counselor.picture %}
        <div class="profile-picture">
            <img style="float:left;" width="100px" height="100px" src="{{ counselor.picture.url }}">
        </div>
    {% endif %}
    <div class="profile-details">
        <h2>名前:カウンセラー01 {{ counselor.name }}</h2>
        <h2>自己紹介:よろしくお願い致します！ {{ counselor.self_introduction }}</h2>
        <h2>資格:臨床心理士 {{ counselor.qualifications }}</h2>
    </div>
</div>

<div class="profile-section">
    {% if counselor.picture %}
        <div class="profile-picture">
            <img style="float:left;" width="100px" height="100px" src="{{ counselor.picture.url }}">
        </div>
    {% endif %}
    <div class="profile-details">
        <h2>名前:カウンセラー02 {{ counselor.name }}</h2>
        <h2>自己紹介:よろしくお願い致します！ {{ counselor.self_introduction }}</h2>
        <h2>資格:臨床心理士 {{ counselor.qualifications }}</h2>
    </div>
</div>

<!-- カウンセラー情報のリスト -->
<ul>
    {% for counselor in counselors %}
        <li>{{ counselor.name }}</li> <!-- カウンセラーの属性に応じて変更 -->
    {% endfor %}
</ul>

<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
    <a class="navbar-brand" href="{% url 'boards:list_themes' %}">チャット制作画面へ</a>
    <a class="navbar-brand" href="{% url 'boards:list_themes' %}">チャット制作画面へ</a>
    <a class="navbar-brand" href="{% url 'accounts:home' %}">メインメニューへ</a>
    <a class="navbar-brand" href="{% url 'boards:counselor_profile' %}">プロフィール画面へ</a>
</nav>

{% endblock %}
