{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}

<h2>カウンセラー一覧画面</h2>

カウンセラー01

カウンセラー02

<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
    <a class="navbar-brand" href="{% url 'boards:list_themes' %}">チャット制作画面へ</a>
    <a class="navbar-brand" href="{% url 'boards:list_themes' %}">チャット制作画面へ</a>
    <a class="navbar-brand" href="{% url 'accounts:home' %}">メインメニューへ</a>
    <a class="navbar-brand" href="{% url 'boards:counselor_profile' %}">プロフィール画面へ</a>
</nav>

<ul>
    {% for counselor in counselors %}
        <li>{{ counselor.name }}</li> <!-- カウンセラーの属性に応じて変更 -->
    {% endfor %}
</ul>
{% endblock %}