{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<h3>チャット画面一覧</h3>

{% if request.user.is_authenticated %}
    {% if request.user.is_counselor %}
        <p><a class="navbar-brand" href="{% url 'boards:create_theme' %}">チャット画面を新たに作成する</a></p>
    {% else %}
        <!-- ログインしているユーザーがカウンセラーでない場合の処理 -->
    {% endif %}
{% endif %}

<!-- Display all chat screens not created by the logged-in user -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>タイトル</th>
            <th>契約カウンセラー</th>
        </tr>
    </thead>
    <tbody>
    {% for theme in themes %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{% url 'boards:post_comments' theme_id=theme.id %}">{{ theme.title }}</a>
        </td>
        <td>
            <a href="{% url 'boards:edit_theme' id=theme.id %}">{{ theme.user.username }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
