{% comment %} Portfolio-submission/online_counseling_platform/templates/change_password.html {% endcomment %}
{% comment %} 不要ならば、削除しても大丈夫です！ {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>パスワード変更画面です！</title>
</head>
<body>
    {% block content %}
    {% comment %} {% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
    {% endif %} {% endcomment %}
    <form method="POST">
    {% csrf_token %}
    {{ password_change_form.as_p }}
    <input type="submit" value="パスワード更新">
    </form>
    {% endblock %}
    <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p>
</body>
</html>