<!DOCTYPE html>
<html>
<head>
    <title>カウンセラー一覧画面</title>
    <style>
        ul {
            list-style-type: none; /* リストマーカーを非表示にする */
            padding: 0; /* デフォルトのパディングを削除 */
        }
        li {
            margin: 5px 0; /* リストアイテム間のマージンを設定 */
        }
    </style>
</head>
<body>
    <h1>カウンセラー一覧画面</h1>
    <ul>
        {% for counselor in counselors %}
        <li>{{ counselor.name }}
            <button onclick="location.href='{% url 'profile' counselor_id=counselor.id %}'">プロフィール画面へ</button>
            <button onclick="location.href='{% url 'chat' counselor_id=counselor.id %}'">チャット画面へ</button>
        </li>
        {% endfor %}
    </ul>
    <ul>
        <li><button onclick="location.href='{% url 'chat' counselor_id=1 %}'">チャット画面へ（カウンセラー01）</button></li>
        <li><button onclick="location.href='{% url 'chat' counselor_id=2 %}'">チャット画面へ（カウンセラー02）</button></li>
        <li><button onclick="location.href='{% url 'home' %}'">メインメニューへ</button></li>
        {% comment %} <li><button onclick="location.href='{% url 'profile' counselor_id=1 %}'">プロフィール画面へ（カウンセラー01）</button></li>
        <li><button onclick="location.href='{% url 'profile' counselor_id=2 %}'">プロフィール画面へ（カウンセラー02）</button></li> {% endcomment %}
        <li><button onclick="location.href='{% url 'profile' %}'">プロフィール画面へ</button></li>
    </ul>
</body>
</html>
