{% comment %} Portfolio-submission/online_counseling_platform/templates/create_theme.html {% endcomment %}
{% comment %} 不要ならば削除して大丈夫です！ {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>掲示板作成画面です！</title>
</head>
<body>
    {% block content %}
    <h3>掲示板作成画面</h3>
    <form method="POST">
    {% csrf_token %}
    {{ create_theme_form.as_p }}
    <input type="submit" value="掲示板作成">
    </form>
    {% endblock %}
    {% comment %} <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p> {% endcomment %}
</body>
</html>