{% comment %} Portfolio-submission/online_counseling_platform/templates/delete_theme.html {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>掲示板削除画面です！</title>
</head>
<body>
    {% block content %}
    <h3>掲示板削除画面</h3>
    <form method="POST">
    {% csrf_token %}
    {{ delete_theme_form.as_p }}
    <input type="submit" value="削除する">
    </form>
    <li><button onclick="location.href='{% url 'main_app:delete_theme.html' %}'">掲示板一覧</button></li>
    {% endblock %}
    <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p>
</body>
</html>