{% comment %} Portfolio-submission/online_counseling_platform/templates/edit_theme.html {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>掲示板編集画面です！</title>
</head>
<body>
    {% block content %}
    <h3>掲示板編集画面</h3>
    <form method="POST">
    {% csrf_token %}
    {{ edit_theme_form.as_p }}
    <input type="submit" value="更新">
    </form>
    {% endblock %}
    <li><button onclick="location.href='{% url 'main_app:delete_theme' %}'">削除する</button></li>
    <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p>
</body>
</html