<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>メインメニュー</title>
    <style>
        /* 必要なスタイルを追加 */
        #chat-box {
            height: 300px;
            border: 1px solid #ccc;
            overflow-y: scroll;
        }
        ul {
            list-style-type: none; /* リストマーカーを非表示にする */
            padding: 0; /* デフォルトのパディングを削除 */
        }
        li {
            margin: 5px 0; /* リストアイテム間のマージンを設定 */
        }
    </style>
</head>
<body>
    <h1>オンラインカウンセリングプラットフォームへようこそ！</h1>
    <h1>チャットメッセージ</h1>
    <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.user }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    <form id="chat-form" method="post" action="{% url 'send_message' %}">
        {% csrf_token %}
        <input type="text" name="message" placeholder="メッセージを入力してください">
        <button type="submit">送信</button>
    </form>
    <ul>
        <li><button onclick="location.href='{% url 'signup' %}'">ユーザー登録</button></li>
        <li><button onclick="location.href='{% url 'login' %}'">ログイン</button></li>
        <li><button onclick="location.href='{% url 'chat' %}'">チャット画面へ</button></li>
        <li><button onclick="location.href='{% url 'logout' %}'">ログアウト</button></li>
        <li><button onclick="location.href='{% url 'profile' %}'">プロフィール画面へ</button></li>
        <li><button onclick="location.href='{% url 'counselor_list' %}'">カウンセラー一覧画面へ</button></li>
        <li><button onclick="location.href='{% url 'base' %}'">オンラインカウンセリングプラットフォームの始まりです！</button></li>
    </ul>
    {% block content %}{% endblock %}
    </body>
</html>
