<!DOCTYPE html>
<html>
<head>
    <title>メインメニュー</title>
    {% comment %} <style>
        /* 必要なスタイルを追加 */
        #chat-box {
            height: 300px;
            border: 1px solid #ccc;
            overflow-y: scroll;
        }
    </style> {% endcomment %}
</head>
<body>
    <h1>オンラインカウンセリングプラットフォームへようこそ！</h1>
    <h1>チャット画面</h1>
        <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.user }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    <form id="chat-form" method="post" action="{% url 'send_message' %}">
        {% csrf_token %}
        <input type="text" name="message" placeholder="メッセージを入力してください">
        <button type="submit">送信</button>
    </form>
    <div>
        <button onclick="location.href='{% url 'signup' %}'">ユーザー登録</button>
        <button onclick="location.href='{% url 'login' %}'">ログイン</button>
        <button onclick="location.href='{% url 'chat' %}'">チャット画面へ</button>
        <button onclick="location.href='{% url 'logout' %}'">ログアウト</button>
        <button onclick="location.href='{% url 'profile' %}'">プロフィール画面</button>
        <button onclick="location.href='{% url 'counselor_list' %}'">カウンセラー一覧画面へ</button>
    </div>
</body>
</html>
