<!DOCTYPE html>
<html>
<head>
    <title>メインメニュー</title>
</head>
<body>
    <h1>オンラインカウンセリングプラットフォームへようこそ！</h1>
    <div>
        <button onclick="location.href='{% url 'signup' %}'">ユーザー登録</button>
        <button onclick="location.href='{% url 'login' %}'">ログイン</button>
        <button onclick="location.href='{% url 'chat' %}'">チャット画面へ</button>
        <button onclick="location.href='{% url 'logout' %}'">ログアウト</button>
        <button onclick="location.href='{% url 'profile' %}'">プロフィール画面</button>
        <button onclick="location.href='{% url 'counselor_list' %}'">カウンセラー一覧画面へ</button>
    </div>
</body>
</html>
