{% comment %} Portfolio-submission/online_counseling_platform/templates/post_comments.html {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>掲示板のコメントする画面です！</title>
</head>
<body>
    {% block content %}
    <h3>{{ theme.title }}<</h3>
    {% for comment in comments %}

    {% endfor %}
    <form method="POST">
    {% csrf_token %}
    {{ post_comment_form.as_p }}
    <input type="submit" value="コメント送信">
    </form>
    {% endblock %}
    <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p>
</body>
</html>