<!DOCTYPE html>
<html>
<head>
    <title>プロフィール</title>
</head>
<body>
    <h1>{{ user.username }}のプロフィール</h1>
    {% comment %} <p>Email: {{ user.email }}</p> {% endcomment %}
    <!-- プロフィール画像の表示 -->
    {% comment %} {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="プロフィール画像">
    {% else %}
        <p>プロフィール画像がありません。</p>
    {% endif %} {% endcomment %}
    {% comment %} <form method="POST" enctype="multipart/form-data"> {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">画像をアップロード</button>
    </form>
    <p><a href="{% url 'home' %}">ホームに戻る</a></p>
    <p><a href="{% url 'logout' %}">ログアウト</a></p>
</body>
</html>
