{% comment %} Portfolio-submission/online_counseling_platform/templates/regist.html {% endcomment %}
{% comment %} 不要ならば削除して大丈夫です！ {% endcomment %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% comment %} {% block content %}
<form method="POST">
{% csrf_token %}
{{ regist_form.as_p }}
<input type="submit" value="ユーザ登録">
</form>
{% endblock %} {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>オンラインカウンセリングプラットフォームの始まりです！</title>
</head>
<body>
    {% block content %}
    <form method="POST">
    {% csrf_token %}
    {{ regist_form.as_p }}
    <input type="submit" value="ユーザ登録">
    </form>
    {% endblock %}
    <p><a href="{% url 'home' %}">ホーム画面に戻ります</a></p>
</body>
</html>