<!-- templates/404.html -->
<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>お探しのページは見つかりませんでした。</p>
</body>
</html>



{% comment %} <h1>Not found</h1>
<p>The requested resource was not found on this server.</p> {% endcomment %}


{% comment %} {% extends "base.html" %}
{% block content %}
<h1>Not found</h1>
<p>The requested resource was not found on this server.</p>
{% endblock %} {% endcomment %}

{% comment %}
{% extends "base.html" %}
{% block content %}
エラーが発生しました。
{% endblock %} {% endcomment %}
